# keeping versions strict since it
rasa_nlu==0.13.7
pandas==0.23.0
requests==2.19.1
sklearn

# rasa_nlu spacy english model
sklearn-crfsuite==0.3.6
spacy>=2.0.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#egg=en_core_web_sm