rasa_nlu==0.13.7
deeppavlov==0.0.8
stringcase==1.2.0
pandas==0.23.4
sklearn-crfsuite==0.3.6
spacy>=2.0.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#en_core_web_sm